#the analysis folder is for the website and so this is held in a separate branch called "analysis_code"
analysis/

#Results
docs_temp/
#Candidate_gene_results/
#DE_results/
#GO_annotations/
#Overlap_results/
#WGCNA_results/
#WGCNA_results/all_tissues/
WGCNA_results/within_tissue
*.RData
*.Rmd
*.Rhistory
*.gaf

.Rproj.user
