
analysis/

#Results

Candidate_gene_results/
DE_results/
GO_annotations/
Overlap_results/
WGCNA_results/
*.Rmd
#except:

### Website Files




### Raw data

#!alignments_2pass/stringent.exonCounts*
#!Samples\ and\ sequencing/Samplekey.csv

#!analysis_code/alignments_twophase.sh

### Data Filtering

#!analysis_code/data_filtering/reading_QC*
#!analysis_code/data_filtering/data_RawCounts_all_ReplicatesRemoved_antisense_V2*

### DESeq
#!analysis_code/DESeq/deseq_V2*
#!analysis_code/DESeq/GO_*
#!analysis_code/DESeq/GSEA_BP*
#!analysis_code/DESeq/results_*

### Candidate Genes
#!analysis_code/Candidate\ Genes/Candidate_genes2*


### WGCNA
#!analysis_code/WGCNA/AllTissues_2021/analysis*
#!analysis_code/WGCNA/AllTissues_2021/wholebrain_results*
#!analysis_code/WGCNA/ByTissue_2021/wgcna_analyses*
#!analysis_code/WGCNA/ByTissue_2021/*_results_*

### Gene Ontology
.Rproj.user
