#the analysis folder is for the website and so this is held in a separate branch called "analysis_code"
analysis/

#Results
docs/
Candidate_gene_results/
DE_results/
GO_annotations/
#Overlap_results/
WGCNA_results/
*.Rmd
*.Rhistory

.Rproj.user
